.content {
    display: flex;
    flex-direction: column;
}

.elements {
    display: grid;
    gap: 32px 28px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
    grid-auto-rows: 319px;
    max-width: 1140px;
    margin: 70px auto 0;
    justify-content: center;
    padding: 0;
}

.elements__more-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 50px auto 80px;
    width: 320px;
    height: 36px;
    background: #2F2F2F;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


.elements__more-button:hover {
    opacity: 0.6;
}

.element__cross-img {
    width: 6.4px;
}

@media screen and (max-width: 1140px) {
    .elements {
        max-width: 78%;
    }
}

@media screen and (max-width: 968px) {
    .elements {
        max-width: 90%;
    }
}

@media screen and (max-width: 896px) {
    .elements {
        padding: 0 30px 0px;
        grid-template-columns: repeat(auto-fit, minmax(342px, 342px));
        grid-auto-rows: 309px;
        gap: 35px 24px;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        padding: 0 20px 0px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        grid-auto-rows: 271px;
        gap: 16px;
        margin-top: 40px;
    }

    .elements__more-button {
        margin-top: 62px;
        width: 240px;
        height: 36px;
        margin-bottom: 89px;
    }
}