.element {
    margin: 0;
    background: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.element__name-container {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    height: fit-content;
    height: 19px;
    align-items: center;
}

.element__name {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.element__time {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #8B8B8B;
}

.element__photo-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 18px;
}

.element__photo {
    width: 100%;
}

.element__save {
    width: 100px;
    height: 29px;
    background: #313131;
    border-radius: 30px;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    color: #FFFFFF;
    border: none;
    padding: 0;
    margin: 0 auto 18px;
    cursor: pointer;
}

.element__save:hover {
    opacity: 0.6;
}

.element__save_active {
    background: #EE3465;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element__save-img {
    width: 8px;
}

@media screen and (max-width: 896px) {
    .element__photo-container {
        height: 190px;
    }
}

@media screen and (max-width: 600px) {
    .element__name {
        font-size: 12px;
    }

    .element__time {
        font-size: 10px;
    }

    .element__photo-container {
        height: 168px;
    }

    .element__name-container {
        padding: 14px;
    }
}