.search {
    margin: 70px 20px 0px;
    border-bottom: 1px solid #424242;
    padding-bottom: 80px;
}

.search__box {
    display: flex;
    background: #222222;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
    padding: 19px;
    height: 34px;
}

.search__container {
    display: flex;
    align-items: center;
}

.search__container:first-child {
    width: 79%;
    border-right: 1px solid #505050;
    ;
}

.search__icon {
    margin-right: 10px;
    width: 34px;
}

.search__input {
    background: #222222;
    border: none;
    width: 98%;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}

.search__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 19px 0 0;
}

.search__button:hover {
    opacity: 0.7;
}

.search__button-img {
    width: 34px;
}

.search__input::placeholder {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}

.search__switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin: 0 14px 0 29px;
}

.search__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.search__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.search__slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 6px;
    bottom: 6px;
    background-color: #3DDC84;
    -webkit-transition: .4s;
    transition: .4s;
}

.search__input-container{
    width: 100%;
    position: relative;
}

.search__input-error{
    margin-top: 3px;
    position: absolute;
    font-size: 12px;
    height: 35px;
    left: 3px;
    bottom: -39px;
    color: #EE3465;
}

input:checked+.search__slider {
    background-color: #3DDC84;
}

input:checked+.round:before {
    background-color: #fff;
    left: -6px;
    bottom: 6px;
}

input:focus+.search__slider {
    box-shadow: 0 0 1px #3DDC84;
}

input:checked+.search__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.search__slider.round {
    border-radius: 20px;
}

.search__slider.round:before {
    border-radius: 50%;
}

.search__text {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}


@media screen and (max-width: 600px) {

    .search {
        padding-bottom: 45px;
    }

    .search__box {
        flex-direction: column;
        background: none;
        box-shadow: none;
        height: auto;
        padding: 0;
    }

    .search__container:first-child {
        width: 93%;
        border-right: none;
        background: #222222;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
        margin-bottom: 45px;
        padding: 19px;
    }

    .search__input {
        font-size: 14px;
        margin-right: 6px;
    }

    .search__icon {
        display: none;
    }

    .search__button {
        padding: 0;
    }

    .search__input::placeholder {
        font-size: 14px;
    }

    .search__text {
        font-size: 11px;
    }

}