.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.login__icon {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
}

.login__form-button {
    width: 396px;
    height: 45px;
    margin: 59px auto 0;
    background: #4285F4;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.login__form-button:hover {
    opacity: 0.85;
}

.login__form-container {
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: 0;


}

.login__form-name {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0 0 40px;
}

.login__input-container {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__item {
    width: 100%;
    margin: 0;
    padding: 0 0 0 15px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    background: #2F2F2F;
    color: #FFFFFF;

}

.login__item-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin-bottom: 10px;
}

.login__item:-internal-autofill-selected {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(204, 204, 204, 1);
    background-color: #000000;

}

.login__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 0;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.login__link:hover {
    opacity: 0.6;
}

.login__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 16px 0 0;
    text-align: center;
    color: rgba(139, 139, 139, 1)
}

.login__link {
    color: #4285F4;
}

@media screen and (max-width: 486px) {

    .login__item {
        width: 260px;
    }

    .login__form-name {
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto 80px;
    }

    .login__icon {
        margin: 0 auto 50px;
    }

    .login__form-container {
        width: 275px;
        margin: 0 auto;
        align-items: center;
    }

    .login__form-button {
        width: 260px;
        height: 46px;
        margin: 256px auto 0;
        font-size: 16px;
        line-height: 19px;
    }
}