@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);


body {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
